html {
  height: 100%;
  width: 100%;
  
  background-color:#9D8BA8;
}

h1{
  color:purple;
  font-family: myFont;
}

h2{
  color:#410864;
  font-family: myFont;
}

i{
  color:#E6C7F9;
}

p{
  color:#340B4D;
  font-family: myFont;
}


@font-face{
  font-family: myFont;
  src: url('pixel.otf') format('opentype');
}